
extends ./page-content/layout

block pageMeta
	meta(name='description', content="")

block pageTitle
	title Williams Sonoma - California

block pageKeywords
	meta(name='keywords', content='')

block mainContent
	article.main-content
		section#main-wrapper
			#left-content
				.large-image(data-image='large-blue')
					img#large-image(src="assets/product-large-a.jpg", alt="French Blue")
				.small-images
					ul
						li(data-imageLarge='product-large-a.jpg' style='background-image: url("assets/product-small-a.jpg")')
						li(data-imageLarge='product-large-b.jpg' style='background-image: url("assets/product-small-b.jpg")')
						li(data-imageLarge='product-large-c.jpg' style='background-image: url("assets/product-small-c.jpg")')
						li(data-imageLarge='product-large-d.jpg' style='background-image: url("assets/product-small-d.jpg")')
			#right-content
				.loaded
					h2 Williams-Sonoma Classic Apron, 
						span(data-name='blue') French Blue
					.copy(data-copy="classic-apron")
						p A generously sized apron is a necessity in any kitchen, and ours will brighten yours with lively color. Sewn of thick cotton, it can be personalized or monogrammed with up to nine characters, all the same height, embroidered in your choice of color. An apron of this quality makes a welcome gift for any cook.
						ul.bullet
							li Durable 100% cotton construction.
							li Adjustable neckband ensures a good fit.
							li Roomy front pockets hold small tools.
							li Machine-wash.
					p.price(data-price='19-95')
						| $19.95
					form#item-purchace
						input#itemName(type="hidden", name="itemName", value="French Blue Apron")
						p
							input(type='number' name='number' min="1" max="99" value="1")
						button.submit
							img(src="assets/button-add-to-cart.png", alt="Add to cart")
					#accordion-section
						.accordion.active
							b Heading 1
						.panel.show
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquam sit amet mi non sagittis. Donec quis turpis eleifend, consectetur massa et, vehicula erat. Vestibulum id arcu a velit aliquam fermentum et ut odio. Morbi scelerisque varius magna non malesuada. In eget quam sit amet ante finibus mattis. Sed sed lectus tellus. Pellentesque eu lacus eget ante consequat imperdiet. Aenean iaculis sagittis ante in fringilla.
						.accordion
							b Heading 2
						.panel
							p Quisque a sollicitudin arcu, id sagittis turpis. Nullam tincidunt volutpat neque vitae rhoncus. Morbi egestas vestibulum suscipit. Nullam accumsan eu tortor quis dapibus. Aenean pulvinar magna id erat ullamcorper elementum. Ut eu pellentesque lorem. Suspendisse sollicitudin eros in vestibulum mattis.	
						.accordion
							b Heading 2
						.panel.last
							p Vivamus dictum ac arcu nec scelerisque. Morbi non ex vel ligula condimentum euismod. Pellentesque massa magna, accumsan et tortor quis, varius rutrum felis. Phasellus vitae iaculis lectus, eu pretium tellus. Aliquam ac felis id ipsum facilisis porttitor eget sit amet ligula. Morbi mattis imperdiet tempor. Pellentesque commodo purus eu arcu tempus, eget faucibus nunc suscipit.